{% extends'base.html.twig' %}
{% block title %}
    <title>wcs</title>
{% endblock %}
{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ product }}</h5>
                        <p class="card-text">This is a fruit.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
